{{>individual/study/bootandaws/layout/header}}
  <h1> Start to Spring Boot </h1>
  <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <a href="/posts/save" role="button" class="btn btn-primary">Register Post</a>
        </div>
      </div>
  </div>
{{>individual/study/bootandaws/layout/footer}}